.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 22rem;
  width: 100%;
  background-color: #ebe6e6;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin: auto;
  flex-wrap: wrap;
}

#CardsBackground {
  font-family: Cavea, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 19rem;
  overflow-y: auto;

  margin: auto 6rem;
  background-color: #ffff88;

  scroll-snap-align: center;
  scroll-snap-stop: always;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
}

#CardHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin: auto;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  text-decoration: underline;
}

#CardContext {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: auto;
  padding: 0.5em;
  scrollbar-color: grey #ffff88;
}

@media screen and (min-width: 33em) {
  #CardsBackground {
    font-size: clamp(1.2rem, 1.2rem, 1.5rem);
    height: 28rem;
  }

  #CardHeading {
    font-size: 1.5rem;
    height: 15%;
  }

  #CardContext {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin: auto;
    padding: 0.5em 1em;
  }

  .wrapper {
    height: 32rem;
    width: 90%;
    margin: auto;
  }

 
  
}
