.InputFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;
  text-align: center; */
  /* margin-top: auto; */
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0.5em auto;
  gap: 2em;
}

.inputs > * {
  flex-basis: calc(calc(600px - 100%) * 999);
  flex-grow: 1;
  /* margin-left: 1em;
  margin-right: 1em;
  margin-bottom: auto; */
}

/* .MuiFormControl-root {
  margin-block: 1em;
  margin-top: auto;
} */

@media screen and (min-width: 33em) {
  .InputFieldContainer {
    margin-top: auto;
  }

  .inputs {
    margin: 2em auto;
  }

  .inputs > div {
    max-width: 30%;
  }

  .inputs > div:is(.search) {
    max-width: 60%;
  }
}
