.InputFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: auto;
}

.inputs {
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.5em;
  gap: 1rem;
}

.inputs > * {
  /* flex-basis: calc(calc(550px - 100%) * 999);
  flex-grow: 1; */

  margin-bottom: auto;
}

.input {
  width: 100%;
}


.selector > div.MuiInputBase-root {
   width: 100%; 
  margin-top: 1rem;
}
/* .search > .MuiInputBase-root {
  width: 100%;
} */

/* Style the language Selector */
/* div.MuiInputBase-root {
  width: 100%;
} */
/* Style the text inside the input */
#input-with-icon-adornment {
  padding-bottom: 1px;
}
/* Style the text inside the language selector */
#standard-select-currency {
  width: 100%;
  padding-bottom: 1px;
}
/* Style the label of the language selector */
#standard-select-currency-label {
  position: relative;
}

@media screen and (min-width: 33em) {
  .InputFieldContainer {
    margin-top: auto;
  }
  * {
    border: 1px solid black;
  }
  .inputs {
    margin: 2em auto;
    gap: 0 2rem;
  }

  .input {
    width: 70%;
  }
  .selector {
    float: right;
    width: 20%;
  }

  .selector > div.MuiInputBase-root {
    max-width: 100%;
    margin-top: 0;
  }

  .search > .MuiInputBase-root {
    width: 100%;
  }
  .input > * {
    clear: both;
  }
}
