.wrapper {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; */
  width: 100%;
  background-color: var(--scrollBoxColor);
  scrollbar-color: #434242 var(--scrollBoxColor);
  z-index: 10;
}

.wrapper--large {
  height: 22rem;
  margin: 0.5em auto auto;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.wrapper--audio {
  height: 1rem;
  margin: 0 auto;
}

.Cards {
  font-family: Cavea, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 2rem auto;
  background-color: var(--cardColor);
  height: 19rem;
  scroll-snap-align: center;
  /* scroll-snap-stop: always; */
  position:relative;
  z-index: -1;
}

.Cards::before,
.Cards::after
{
  content:'';
  position: absolute;
  top: 93%;
  bottom: 16px;
  box-shadow: 0 10px 35px var(--BoxShadowColor);
  z-index: 0;
}

.Cards::before{
  background-color:var(--cardColor);
  left: 5px;
  right: 45px;
  transform: rotate(-3deg);
  
}

.Cards::after{
  background-color: aqua;
  left: 45px;
  right: 5px;
  transform: rotate(3deg);
  z-index: 0;
} 

/* .dummyDiv {
  height: 1rem;
  min-width: 12rem;
  margin: 0 auto;
  
  background-color: #ebe6e6;
} */

.CardHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin: auto;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  text-decoration: underline;
  z-index: 2;

}

.CardContext {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
  /* margin: auto 0; */
  padding: 0.5em;
  font-size: 1rem;
  scrollbar-color: var(--ScrollBarColor) var(--cardColor);
  overflow-y: auto;
  z-index: 2;

}

.emptyWrapperText {
  font-size: 2rem;
  color: var(--EmptyBox_TextColor);
}

@media screen and (min-width: 33em) {
  .wrapper--large {
    height: 32rem;
    }

  .wrapper{
    width: 90%;
  }

  .Cards {
    font-size: clamp(1.2rem, 1.2rem, 1.5rem);
    height: 28rem;
  }

  .CardHeading {
    font-size: 1.5rem;
    height: 15%;
  }

  .CardContext {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 1em;
  }
}
