.wrapper {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  height: 22rem;
  width: 100%;
  margin: auto;
  background-color: #ebe6e6;
  overflow-y: auto;
  flex-wrap: wrap;
  scroll-snap-type: y mandatory;
  
}


#CardsBackground {
  font-family: Cavea, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column; 
  width: 90%;
  height: 19rem;
  margin: 2rem auto;
  background-color: #ffff88;
  
  scroll-snap-align: center;
  /* scroll-snap-stop: always; */
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
}

.dummyDiv {
  height: 1rem;
  min-width: 12rem;
  margin: 0 auto;
  /* border: 1px solid #ebe6e6; */
  border: 1px solid #ebe6e6;
  background-color: #ebe6e6;
}

#CardHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin: auto;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  text-decoration: underline;
}

#CardContext {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0.5em;
  scrollbar-color: grey #ffff88;
  overflow-y: auto;
}

.emptyWrapperText{
  font-size: 2rem;
  color: rgb(51, 51, 51);
}

@media screen and (min-width: 33em) {
  .wrapper {
    height: 32rem;
    width: 90%;
    margin: auto;
  }

  #CardsBackground {
    font-size: clamp(1.2rem, 1.2rem, 1.5rem);
    height: 28rem;
  }

  #CardHeading {
    font-size: 1.5rem;
    height: 15%;
  }

  #CardContext {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0.5em 1em;
  }
}
