
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root{
  --BreakPointScreen: 33em;
  --cardColor: #ffff88;
  --BackgroundColor: white;
  --scrollBoxColor: #ebe6e6;
  --EmptyBox_TextColor: rgb(51, 51, 51);
  --ScrollBarColor: #434242;
  --BoxShadowColor:rgba(0, 0, 0, 0.5);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body {
  font-family: 'Montserrat', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

*{
   /* border: 1px solid black;  */
}
