
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid black; */
}

body {
  font-family: 'Montserrat', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.App{
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-wrap: wrap;
  margin: 1rem auto;
}


ul {
  padding-block: 1rem;
}

li {
  list-style-type: none;
}
